:root {
  color-scheme: light dark;
  box-sizing: border-box;

  --bg-color: #f0f0f0;
  --light-background: #fafafa;
  --document-color: #fff;
  --text-color: #333;
  --editable: #97d0ff;
  --editable-text: #333;
  --bg-editable-form: #fff;
  --color-primary: #333;
  --color-primary-hover: #555;

  @media (prefers-color-scheme: dark) {
    --bg-color: #1c1c1e;
    --light-background: #555;
    --document-color: #333;
    --text-color: #fefefe;
    --editable: #ffff6d;
    --editable-text: #333;
    --bg-editable-form: #555;
  }
}
