:root {
  color-scheme: light dark;
  --bgcolor: #fff;
  --text-color: #333;
  --editable: lightyellow;
  --editable-text: #333;
  --bg-editable-form: #fff;

  @media (prefers-color-scheme: dark) {
    --bgcolor: #1c1c1e;
    --text-color: #fefefe;
    --editable: #0e3382;
    --editable-text: #fff;
    --bg-editable-form: #333;
  }
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--bgcolor);
  color: var(--text-color)
}

h2 {
  margin: 2rem 0 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.document {
  margin: 2rem auto;
  max-inline-size: 700px;
  background-color: rgba(#fff, 0.1);
  padding: 4rem;
}

.total {
  display: inline-block;
  font-size: 1.2rem;
  border: 2px solid #000;
  padding: 20px;
}

.spacing-1 {
  margin-top: 2rem;
}

.sender {
  text-align: right;
}

.object {
  margin: 2rem 0;
  border: 1px solid #000;
  border-width: 2px 0;
  font-size: 1.2rem;
}

address {
  display: block;
  text-align: left;
  margin: 1rem 0;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre;
}

.uppercase {
  text-transform: uppercase;
}

.header-layout {
  display: flex;
  justify-content: space-between;
}

footer {
  padding-bottom: 4rem;
}

.signature {
  font-weight: bold;
  text-align: right;
}
