.document {
  margin: 2rem auto;
  max-inline-size: 800px;
  background-color: var(--document-color);
  font-family: 'Times New Roman', Times, serif;
  padding: 4rem;

  h2 {
    margin: 0 0 1rem;
    font-size: 1.1rem;
    font-weight: bold;
  }
}

.spacing-1 {
  margin-top: 2rem;
}

.object {
  margin: 1rem 0 2rem;
  border: 1px solid var(--text-color);
  border-width: 2px 0;
  font-size: 1.2rem;
}

address {
  display: block;
  text-align: left;
  margin: 1rem 0;
  font-family: Courier, monospace;
  white-space: pre;
}

.sender {
  text-align: right;
  grid-column: owner;

  address {
    text-align: right;
  }
}

.uppercase {
  text-transform: uppercase;
}

.header-layout {
  display: grid;
  grid-template-areas:
    "sender object";

  .name {
    margin-block-start: 0;
  }
}

.signature {
  font-weight: bold;
  text-align: right;
}
