@media print {

  body {
    background: none !important;
  }

  .document {
    padding: 0;
  }

  .bubble__editable {
    background-color: transparent !important;

    &:before {
      display: none;
    }
  }

  .signature__canvas {
    border: none;
  }

  .hidden-print {
    display: none !important;
  }
}
