.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #333;
  color: #fff;
  margin-block-end: 1.5rem;

  a {
    padding: 1rem;
    color: #fff;
    text-decoration: none;

    &.is-active {
      border-block-end: 4px solid var(--editable);
    }
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
