.bubble__editable {
  position: relative;
  background-color: var(--editable);
  color: var(--editable-text);
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  text-align: left;
  transition: all 300ms;

  &:hover {
    transform: scale(1.2);
  }

  &:before {
    content: '';
    position: absolute;
    inset: -3px;
    border: 4px solid var(--editable);
  }
}

.bubble {
  position: relative;

  .bubble__form {
    padding: 1rem;
    border-radius: 1rem;
    background: var(--bg-editable-form);
    box-shadow: 0 0 10px 0 rgba(#000, 0.2);
    display: none;
    position: absolute;
    // transform: translateX(-50%);
    inset: calc(100% + 1rem) 0 auto 0;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    font-style: normal;
    text-align: left;
    width: 240px;
    z-index: 1;
  }

  &.bubble--is-open .bubble__form {
    display: block;
  }
}

.bubble__label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.bubble__desc {
  display: block;
  margin-block-start: 0.5rem;
  font-size: 0.8rem;
}

textarea,
input {
  display: block;
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
  border: 2px solid var(--editable);
}

textarea {
  min-height: 5rem;
  resize: vertical;
}
