.document-layout {

  --spacing: 1.5rem;

  display: grid;
  margin-inline: var(--spacing);
  gap: 1.5rem;

  --padding-inline: var(--spacing);
  --content-max: 800px;
  --content-width: min(100% - (var(--padding-inline) * 2), var(--content-max));
  --max-size: minmax(0, 270px);

  // Create implicite column names : full-width | max | content .
  grid-template-columns:
    [main-start] var(--content-width) [main-end sidebar-start]
    1fr [sidebar-end];
}

.sidebar {
  grid-column: sidebar;
  grid-row: 1 / 2;
}

.document {
  grid-column: main;
  grid-row: 1 / 2;
  margin: 0 auto 2rem;
  background-color: var(--document-color);
  font-family: 'Times New Roman', Times, serif;
  padding: 4rem;

  h2 {
    margin: 1rem 0;
    font-size: 1.1rem;
    font-weight: bold;
  }

  *:first-child {
    margin-block-start: 0;
  }
}

.spacing-1 {
  margin-top: 2rem;
}

.object {
  margin: 1rem 0 2rem;
  padding-block: 1rem;
  border: 1px solid var(--text-color);
  border-width: 2px 0;
  font-size: 1.2rem;

  p {
    margin: 0;
  }
}

address {
  display: block;
  text-align: left;
  margin: 1rem 0;
  white-space: pre;
  font-style: italic;
}

.sender {
  text-align: right;
  grid-column: owner;

  address {
    text-align: right;
  }
}

.uppercase {
  text-transform: uppercase;
}

.header-layout {
  display: grid;
  grid-template-areas:
    "sender object";

  .name {
    margin-block-start: 0;
  }
}

.signature {
  font-weight: bold;
  text-align: right;
}
